body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  .container:hover{
    box-shadow: 0px 0px 10px #777;
  }
  
  h1 {
    text-align: center;
  }
  
  .payment-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .product-info {
    flex: 0 0 40%;
  }
  
  .product-image {
    text-align: center;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  
  .form-fields {
    direction: rtl;
    flex: 0 0 55%;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group input[type="number"],
  .input-group input[type="submit"] {
    width: 100%;
  }
  
  .input-group input[type="text"]:focus,
  .input-group input[type="email"]:focus,
  .input-group input[type="number"]:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px #80bdff;
  }
  
  .input-group input[type="submit"] {
    background-color: #333;
    margin-right: 190px;
    width: 100px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .input-group input[type="submit"]:hover {
    background-color: #3b7a3c;
  }
  
  .product-price {
    font-size: 24px;
    text-align: center;
    color: #3b7a3c;
    margin-top: 10px;
  }
  