.bodyCont {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #999;
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  .container:hover{
    box-shadow: 0px 0px 10px #777;
  }
  
  .headerCallUs {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  main {
    margin-top: 30px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #666;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .pp {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .aa {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
  
  .aa:hover {
    background-color: #3b7a3c;
    color: #fff;
  }
  

  